<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户</title>
</head>
<script src="/js/jquery-3.0.0.js"></script>
<style>
    table{
        border: 1px solid;
    }
    tr{
        border: 1px solid;
    }
    td{
        border: 1px solid;
        padding: 10px;
    }
</style>
<body>
<div><h3>用户信息表</h3></div>
<div style="border-bottom: 1px solid"></div>
<div>
    <form action="/admin/findUser" style="margin: 20px">
        <div style="display: inline-block;"><span>ID：</span><span><input type="text" name="id"/></span></div>
        <div style="display: inline-block;"><span>用户名：</span><span><input type="text" name="username"/></span></div>
        <div style="display: inline-block;"><span>手机号码：</span><span><input type="text" name="phone"/></span></div>
        <div style="display: inline-block;"><input type="submit" value="查询"/></div>
    </form>
    <div>
        <table>
            <tr>
                <td>id</td>
                <td>用户名</td>
                <td>手机号码</td>
                <td>性别</td>
                <td>头像</td>
                <td>住址</td>
                <td>简介</td>
                <td>生日</td>
                <td>爱好</td>
                <td>创建时间</td>
                <td>修改时间</td>
                <td>操作</td>
            </tr>
            <tr th:each="o:${entity}">
                <td th:text="${o.getId()}" class="uid" th:value="${o.getId()}"></td>
                <td th:text="${o.getName()}"></td>
                <td th:text="${o.getPhone()}"></td>
                <td th:text="${o.getSex()}"></td>
                <td><img th:src="${o.getAvatar()}" style="  width: 50px;    height: 50px;"/></td>
                <td th:text="${o.getAddress()}"></td>
                <td th:text="${o.getAutograph()}"></td>
                <td th:text="${o.getBirthday()}"></td>
                <td th:text="${o.getLabel()}"></td>
                <td th:text="${o.getBuildtime()}"></td>
                <td th:text="${o.getModified()}"></td>
                <td><button class="not" th:value="${o.getId()}">禁用</button></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    $(function () {
        $(".not").click(function () {
            var uid = $(this).attr("value");
            var url = "/admin/changeAllowed";
            $.get(url,{uid:uid,allowed:"0"});
            alert(uid + " - 禁用成功！")
        });
    });
</script>
</html>