<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>验证成功</title>
    <link rel="stylesheet" type="text/css" href="/css/register/register4.css"/>
    <link rel="icon" href="/image/title.ico"/>
</head>
<script src="/js/jquery-3.0.0.js"></script>
<body>
<div class="main">
    <header>&nbsp;
        <ul>
            <br/>
            <br/>
            <br/>
            <li>
                <span class="current-num">1</span>
                <span class="current">验证手机号码</span>
            </li>
            <span class="cc">--></span>
            <li class="current2">
                <span class="current-num">2</span>
                <span class="current">填写密码</span>
            </li>
            <span class="cc">--></span>
            <li class="c">
                <span class="current-num">3</span>
                <span class="current">找回成功</span>
            </li>
        </ul>
    </header>
    <div class="success">
        <form action="home" method="post">
            <input type="hidden" name="password" th:value="${password}"/>
            <input type="hidden" name="token" th:value="${token}"/>
            <input type="hidden" name="username" th:value="${phone}"/>
            <span th:text="${phone}"></span><span class="text">，修改成功！</span><br/>
            <input type="submit" class="next" value="立即登录！" id="next"/>
        </form>
    </div>
</div>
<script>
$(function () {
    $("body").keydown(function() {
        if (event.keyCode == "13") {//keyCode=13是回车键
            $('.next').click();
        }
    });
});
</script>
</body>
</html>
