<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>忘记密码</title>
    <link rel="icon" href="/image/title.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/forget/forgetPassword.css"/>
</head>
<script src="/js/jquery-3.0.0.js"></script>
<script src="/js/forget/forgetPassword.js"></script>
<body>
<div class="main">
    <div class="page">
        <header class="header">
            <br/>
            <br/>
            <br/>
            <br/>
            <ul>
                <li>
                    <span class="current-num">
                        1
                    </span>
                    <span class="current">
                        验证手机号码
                    </span>
                </li>
                <span class="cc">
                    -->
                </span>
                <li class="c">
                    <span class="number">
                        2
                    </span>
                    填写密码
                </li>
                <span class="cc">--></span>
                <li class="c">
                    <span class="number">3</span>找回成功
                </li>
            </ul>
        </header>
        <div class="register">
            <form action="forget2" method="post" class="form" id="form2">
                <input type="hidden" name="token" th:value="${token}"/>
                <div style="margin: 10px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;手机号码：
                    <input type="tel" class="phone" id="phone" placeholder="请输入手机号码" autofocus="autofocus" name="phone"/>
                </div>
                <div id="toolphone" class="toolphone" style="color: red;display: none;">请输入正确的手机号码</div>
                <div class="toolphone2" style="color: red;display: none;margin-left: 110px">该用户不存在</div>
                <div style="margin: 10px;">图片验证码：
                    <input type="text" class="photo" id="photo" placeholder="验证码固定 ttra" name="photo"/>
                    <!--<img alt="" src="image.jsp" id="identity" align="absmiddle"/>-->
                    <span>XCsk</span>
                    <a href="javascript:loadimage();" class="chang-code" id="btn">
                        <span style="color: red">看不清？换一张</span>
                    </a>
                </div>
                <div id="toolphoto" class="toolphoto" style="color: red;display: none;">图片验证码错误</div>
                <div class="toolphoto2" style="color: red;display: none;margin-left: 110px">图片验证码不能为空</div>
                <div style="margin: 10px;">
                    手机验证码：
                    <input type="text" class="code-phone" id="code_phone" placeholder="验证码固定 1225" name="code_phone"/>
                    <input type="button" class="get" value="发送验证码" id="get"/>
                </div>
                <div id="toolnum" class="toolnum" style="color: red;display: none">手机验证码错误</div>
                <div class="toolnum2" style="color: red;display: none;margin-left: 110px">手机验证码不能为空</div>
                <input type="button" class="next" value="下一步"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
