<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.life.dao.AdminActionMapper">
    <resultMap id="BaseResultMap" type="com.wsk.life.pojo.AdminAction">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="aid" property="aid" jdbcType="INTEGER"/>
        <result column="modified" property="modified" jdbcType="TIMESTAMP"/>
        <result column="action" property="action" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">
        adminaction
    </sql>
    <sql id="Base_Column_List">
        id
        ,
        aid,
        modified,
        action
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wsk.life.pojo.AdminAction">
        insert into
        <include refid="table"/>
        (id, aid, modified,
        action)
        values (#{id,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, #{modified,jdbcType=TIMESTAMP},
        #{action,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.wsk.life.pojo.AdminAction">
        insert into
        <include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="aid != null">
                aid,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="action != null">
                action,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="aid != null">
                #{aid,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="action != null">
                #{action,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wsk.life.pojo.AdminAction">
        update
        <include refid="table"/>
        <set>
            <if test="aid != null">
                aid = #{aid,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="action != null">
                action = #{action,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wsk.life.pojo.AdminAction">
        update
        <include refid="table"/>
        set aid = #{aid,jdbcType=INTEGER},
        modified = #{modified,jdbcType=TIMESTAMP},
        action = #{action,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>