<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.life.dao.CollectionCriticMapper">
    <resultMap id="BaseResultMap" type="com.wsk.life.pojo.CollectionCritic">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="modified" property="modified" jdbcType="TIMESTAMP"/>
        <result column="allow" property="allow" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="table">
        collectioncritic
    </sql>

    <sql id="Base_Column_List">
        id, pid, time, uid, modified, allow
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table"/>
        where uid =#{uid} and allow=1
        order by modified DESC
        limit #{start},10
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        <include refid="table"/>
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wsk.life.pojo.CollectionCritic">
        insert into
        <include refid="table"/>
        (id, pid, time,
        uid, modified, allow
        )
        values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP},
        #{uid,jdbcType=INTEGER}, #{modified,jdbcType=TIMESTAMP}, #{allow,jdbcType=SMALLINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.wsk.life.pojo.CollectionCritic">
        insert into
        <include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="allow != null">
                allow,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="allow != null">
                #{allow,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wsk.life.pojo.CollectionCritic">
        update
        <include refid="table"/>
        <set>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="allow != null">
                allow = #{allow,jdbcType=SMALLINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wsk.life.pojo.CollectionCritic">
        update
        <include refid="table"/>
        set pid = #{pid,jdbcType=INTEGER},
        time = #{time,jdbcType=TIMESTAMP},
        uid = #{uid,jdbcType=INTEGER},
        modified = #{modified,jdbcType=TIMESTAMP},
        allow = #{allow,jdbcType=SMALLINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>