<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.life.dao.ForumContentMapper" >
  <resultMap id="BaseResultMap" type="com.wsk.life.pojo.ForumContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="allow" property="allow" jdbcType="SMALLINT" />
    <result column="mid" property="mid" jdbcType="INTEGER" />
    <result column="content" property="critic" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="table">
    forumcontent
  </sql>

  <!--<resultMap id="ResultMapWithBLOBs" type="com.wsk.life.pojo.ForumContent" extends="BaseResultMap" >-->
    <!--<result column="content" property="content" jdbcType="LONGVARCHAR" />-->
  <!--</resultMap>-->
  <sql id="Base_Column_List" >
    id, fid, time, uid, modified, allow, mid,content
  </sql>
  <!--<sql id="Blob_Column_List" >-->
    <!--content-->
  <!--</sql>-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    from <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsk.life.pojo.ForumContent" >
    insert into <include refid="table" /> (id, fid, time,
      uid, modified, allow, 
      mid, content)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{uid,jdbcType=INTEGER}, #{modified,jdbcType=TIMESTAMP}, #{allow,jdbcType=SMALLINT}, 
      #{mid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wsk.life.pojo.ForumContent" >
    insert into <include refid="table" />
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="allow != null" >
        allow,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="allow != null" >
        #{allow,jdbcType=SMALLINT},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsk.life.pojo.ForumContent" >
    update <include refid="table" />
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="allow != null" >
        allow = #{allow,jdbcType=SMALLINT},
      </if>
      <if test="mid != null" >
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wsk.life.pojo.ForumContent" >
    update <include refid="table" />
    set fid = #{fid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      modified = #{modified,jdbcType=TIMESTAMP},
      allow = #{allow,jdbcType=SMALLINT},
      mid = #{mid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsk.life.pojo.ForumContent" >
    update
    <include refid="table"/>
    set fid = #{fid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      modified = #{modified,jdbcType=TIMESTAMP},
      allow = #{allow,jdbcType=SMALLINT},
      mid = #{mid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>