<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.life.dao.UserPasswordMapper" >
  <resultMap id="BaseResultMap" type="com.wsk.life.pojo.UserPassword" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="allow" property="allow" jdbcType="SMALLINT" />
  </resultMap>

  <sql id="table">
    userpassword
  </sql>

  <sql id="Base_Column_List" >
    id, password, modified, allow
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getPassword" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select password FROM <include refid="table" /> where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsk.life.pojo.UserPassword" >
    insert into <include refid="table" /> (id, password, modified,
      allow)
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{modified,jdbcType=TIMESTAMP}, 
      #{allow,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wsk.life.pojo.UserPassword" >
    insert into <include refid="table" />
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="allow != null" >
        allow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="allow != null" >
        #{allow,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsk.life.pojo.UserPassword" >
    update <include refid="table" />
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="allow != null" >
        allow = #{allow,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsk.life.pojo.UserPassword" >
    update
    <include refid="table"/>
    set password = #{password,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
      allow = #{allow,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>