<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsk.life.dao.UserInformationMapper" >
  <resultMap id="BaseResultMap" type="com.wsk.life.pojo.UserInformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="autograph" property="autograph" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="buildtime" property="buildtime" jdbcType="TIMESTAMP" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="allowed" property="allowed" jdbcType="TINYINT" />
  </resultMap>

  <sql id="table">
    userinformation
  </sql>

  <sql id="Base_Column_List" >
    id, address, autograph, birthday, buildtime, label, name, phone, sex, modified, avatar,allowed
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectIdByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" />
    FROM <include refid="table" />
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <select id="getAllForeach" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    FROM <include refid="table" />
    where id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from <include refid="table" />
    where name like CONCAT('%',#{name},'%')
    order by name
    limit #{start},10
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from <include refid="table" />
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsk.life.pojo.UserInformation" >
    insert into <include refid="table" /> (id, address, autograph,
    birthday, buildtime, label,
    name, phone, sex, modified,
    avatar)
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{autograph,jdbcType=VARCHAR},
    #{birthday,jdbcType=DATE}, #{buildtime,jdbcType=TIMESTAMP}, #{label,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{modified,jdbcType=TIMESTAMP},
    #{avatar,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wsk.life.pojo.UserInformation" >
    insert into <include refid="table" />
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="autograph != null" >
        autograph,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="buildtime != null" >
        buildtime,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="autograph != null" >
        #{autograph,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="buildtime != null" >
        #{buildtime,jdbcType=TIMESTAMP},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsk.life.pojo.UserInformation" >
    update <include refid="table" />
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="autograph != null" >
        autograph = #{autograph,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="buildtime != null" >
        buildtime = #{buildtime,jdbcType=TIMESTAMP},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="allowed != null" >
        allowed = #{allowed,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsk.life.pojo.UserInformation" >
    update
    <include refid="table"/>
    set address = #{address,jdbcType=VARCHAR},
      autograph = #{autograph,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      buildtime = #{buildtime,jdbcType=TIMESTAMP},
      label = #{label,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
      avatar = #{avatar,jdbcType=VARCHAR},
      allowed = #{allowed,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>