<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!--侧边栏-->
<aside th:fragment="aside" style="margin-right: 0;">
    <link rel="stylesheet" href="/css/aside.css"/>
    <script src="/js/aside/aside.js"></script>
    <script src="/js/jQueryUI/jquery.ui.core.js"></script>
    <script src="/js/jQueryUI/jquery.ui.widget.js"></script>
    <script src="/js/jQueryUI/jquery.ui.position.js"></script>
    <script src="/js/jQueryUI/jquery.ui.menu.js"></script>
    <script src="/js/jQueryUI/jquery.ui.autocomplete.js"></script>
    <div class="my_header">
        <!--头像-->
        <div class="my_header_center">
            <img src="/image/1.jpg" class="my_image_header" th:if="${userInformation.avatar}==null" alt="您还未登录!!"/>
            <img src="/image/1.jpg" class="my_image_header" th:if="${userInformation.avatar}!=null" id="my_image_header"
                 th:src="${userInformation.avatar}" alt="您还未登录!!"/>
        </div>
        <div class="my_username">
            <input type="hidden" id="myId" th:value="${userInformation.id}"/>
            <div>
                <a th:if="${userInformation.name}==null" href="/login" class="myName clearfix" title="">
                    请先登录
                </a>
                <a th:text="${userInformation.name}" th:href="'/find/information?id='+${userInformation.id}"
                   class="myName clearfix" th:if="${userInformation.name}!=null" th:title="${userInformation.name}">
                    请先登录
                </a>
            </div>
            <div style="font-size: .8em;margin-top: .5em;">
                <a th:if="${userInformation.name}==null" th:text="${userInformation.autograph}" href="/login"
                   th:title="${userInformation.autograph}" class="clearfix myAutograph">
                    我的个性签名
                </a>
                <a th:if="${userInformation.name}!=null" th:text="${userInformation.autograph}"
                   th:href="'/find/information?id='+${userInformation.id}" th:title="${userInformation.autograph}"
                   class="clearfix myAutograph">
                    我的个性签名
                </a>
            </div>
        </div>
    </div>
    <div class="my_action">
        <div class="my_action_home"><a href="home" th:href="'/find/information?id='+${userInformation.id}"
                                       >我的说说：<span th:text="${critics}" id="num_critics"></span></a></div>
        <div class="my_action_home"><a href="/my/comment">我的评论：<span th:text="${comments}" id="num_comments"></span></a></div>
        <div class="my_action_favorite"><a href="/my/collection"> 我的收藏：<span th:text="${collections}" id="num_collections"></span></a></div>
        <div class="my_action_good"><a href="/my/good"> 我的点赞：<span th:text="${goods}" id="num_goods"></span></a></div>
    </div>
    <div class="my_friends">
        <!--好友列表-->
        <div class="my_friends_list">
            关注列表
        </div>
        <ul th:each="o:${myFriends}">
            <li th:text="${o.name}" th:value="${o.id}" class="my_friends_li" th:title="${o.name}">wsk1103</li>
            <span class="show_my_friends_btn" style="float: right">+</span>
            <li class="my_friends_btn">
                <div>
                    <button class="my_friends_close" th:value="${o.fid}" title="unsubscribe">×关注</button>
                    <button class="my_friends_message" th:value="${o.fid}">◇私信</button>
                    <button class="my_friends_information" th:value="${o.fid}">⊙详情</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="all_search">
        <div class="my_friends_list">搜◎索</div>
        <div>
            <form action="/search/result" method="post" id="searchMovie">
                <input type="text" name="name" class="search" placeholder="搜索" id="search"/>
                <input type="hidden" name="action" id="movie_action" value="movie"/>
            </form>
        </div>
        <div style="text-align: center">
<!--            <img src="/image/movie.png" class="search_movie" title="搜索电影"/>-->
            <img class="search_publish" title="搜索影评" src="/image/publish.png"/>

            <img class="search_user" title="搜索用户" src="/image/user.png"/>
            <br/>
            <img class="search_music" title="搜索音乐" src="/image/music.png"/>
            <img class="search_book" title="搜索图书" src="/image/book.png"/>
            <!--<button class="search_forum" title="搜索论坛" ></button>-->
            <!--<img srpicturemage/forum.png" class="search_forum" title="搜索论坛"/>-->
        </div>
    </div>
    <div class="show_message" style="display: none">

    </div>
</aside>
</body>
</html>
