<footer class="footer">
    	<ul>
    		<li><a href=""  class="footer-ul">网站介绍</a></li>		
    		<li><a href=""  class="footer-ul" target="2a">招贤纳士</a></li>		
    		<li><a href=""  class="footer-ul" target="a3">广告服务</a></li>		
    		<li><a href=""  class="footer-ul" target="a4">银行汇款方式</a></li>		
    		<li><a href=""  class="footer-ul" target="a5">联系方式</a></li>		
    		<li><a href=""  class="footer-ul">版权声明</a></li>		
    		<li><a href=""  class="footer-ul">合作伙伴</a></li>		
    		<li><a href=""  class="footer-ul">论坛反馈</a></li>
    	</ul>
    <p class="footer-p">&copy; wsk1103 2016/10/08</p>
</footer>
<!--页脚-->