<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>论坛</title>
    <link rel="stylesheet" href="/css/forum/forum.css"/>
    <script src="/js/jquery-3.0.0.js"></script>
    <link rel="icon" href="/image/title.ico"/>
</head>
<body>
<header th:include="header :: copy"></header>
<aside th:include="aside :: aside"></aside>
<footer>

</footer>
<script>
//    $(window).load(function () {
//        $('.header_current').removeClass('header_current');
//        $('.img_home_current').attr('src','picture/home.png');
//        $('.img_hot').attr('src','picture/hot.png');
//        $('.img_forum').attr('src','picture/forum_current.png');
//        $('.img_set').attr('src','picture/set.png');
//        $('.header_forum_current').addClass('header_current');
//    });
</script>
</body>
</html>
