@CHARSET "UTF-8";
body,html{
	margin: 0;
	padding: 0;
	height: 90%;
	background: #f4f4f4;
	/*font-family: KaiTi;*/
	background: url("../../image/saber.jpg") 50% fixed;
	opacity: .9;
	background-size: cover;
	font-weight: 700;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;;
}
a{
	color:#1E88C7;
	text-decoration: none;
}
a:HOVER {
	text-decoration: underline;
}
.main{
	box-shadow: 1px 1px 20px #000000;
	width:1040px;
	min-height: 100%;
	height: 100%;
	background:#ffffff;
	margin: 50px auto ;
}
.header{
	margin-top:0px;
}
.header ul li{
	font-size:130%;
	display: inline-block;
	margin:10px 10px;
	padding-right:50px;
	padding-left: 50px;
}
.cc{
	font-size:150%;
}
.header ul li .current-num{
	margin-right:20px;
	width:25px; 
	height:25px; 
	display:inline-block;
	background-color:#1E88C7;
	border-radius:25px;
	color:#FFF; 
	text-align:center
}
.header ul li .number{
	margin-right:20px;
	width:25px; 
	height:25px; 
	display:inline-block;
	background-color:#ccc; 
	border-radius:25px;
	color:#FFF; 
	text-align:center
}
.current{
	color:#1E88C7;
}
.c{
}


form{
	font-weight:500;
	font-size:100%;
	margin:50px 30px 30px 280px;
}
form .phone{
	border-radius:5px;
	height: 35px;
	margin-bottom:0px;
	font-size:18px;
	width:300px;
}
form .photo{
	border-radius:5px;
	height: 35px;
	margin-bottom:0px;
	font-size:18px;
	width:140px;
}
form .code-phone{
	border-radius:5px;
	height: 35px;
	margin-bottom:0px;
	font-size:18px;
	width:140px;
}
img{
	border-radius:5px;
	vertical-align:middle;
	height: 38px;
	width:100px;
}
.register{
	font-size:18px;
}
.get{
	border-radius:5px;
	height: 38px;
	font-size: 20px;
	background: #1E88C7;
	padding:2px 20px;
	cursor: pointer;
	color:white;
}
.get:disabled{
	background-color: #99D3F5;
}
.next{
	border-radius:5px;
	margin: 15px 0 0 110px;
	height: 38px;
	width: 300px;
	background: #1E88C7;
	font-weight: 900;
	color:#fff;
	cursor: pointer;
	font-size:20px;
}
.text{
	margin-left:80px;
	font-size:18px;
}
.toolphone{
	margin-left:110px;
	margin-bottom: 15px;
}
.toolphoto{
	margin-left:110px;
	margin-bottom: 15px;
}
.toolnum{
	margin-left:110px;
	margin-bottom: 15px;
}
.find{
	color:#0000ff;
}
