body {
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    width: 1000px;
    /*background: #d4d6cb;*/
    /*background: url("../image/saber.jpg") repeat fixed;*/
    background: #b4d66b;
    background-size: cover;
    opacity: .9;
    font-weight: 700;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;;
}

.current {
    background: #b0d5f3;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    position: fixed;
    margin: 0 auto;
    line-height: 2em;
    /*border: .2em solid black;*/
    background: #78C3F3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 1080px;
}

header div {
    text-align: right;
    margin-right: 2em;
    /*padding-top: .001em;*/
    /*padding-bottom: .001em;*/
}

header div ul {
    margin-top: 0px;
    position: absolute;
    background: #78C3F3;
    padding-right: 25px;
    text-align: right;
    border-radius: 4px;
    width: 1080px;
}

header div ul li {
    list-style: none;
    display: inline-block;
}

.header_forum, .header_home, .header_hot, .header_set, .header_information {
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
}

.list-line {
    border-bottom: 1px solid black;
}

.menu_li {
    padding: 0 10px;
}

.menu {
    padding: 0 20px;
    display: none;
    list-style: none;
    text-align: center;
    width: 95px;
}

.clearfix {
    clear: both;
    content: ".";
    display: block;
    /*height: 0%;*/
    /*visibility: hidden;*/

}

main {
    margin-top: 3em;
    margin-left: 5%;
    float: left;
    width: 650px;
}

main div.all_release {
    margin: 5% auto 2%;
    background: #78C3F3;
    border-radius: 10px;
}

main div div.release_div {
    width: 100%;
}

main div div.release_div_2 {
    width: 100%;
    /*height: 20px;*/
    padding-bottom: 5%;
}

main div div span.movie_name {
    margin-left: 25%;
}

.movie_name_text {
    height: 20px;
}

.movie_release {
    height: 2em;
    background: white;
    border: 0 solid;
    border-radius: 4px;
    width: 4.5em;
}

.movie_state {
    height: 2em;
}

main div div textarea.release_message {
    margin: 2em 5% .8em;
    resize: none;
    width: 570px;
    height: 100px;
}

main div div a.movie_image_upload {
    /*margin-left: 5em;*/
    /*height: 22px;*/
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 2px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    top: 9px;
}

main div div a.movie_image_upload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

main div div a.movie_image_upload:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

main div.all_stats {
    /*width: 100%;*/
    /*!*border: 2px solid black;*!*/
    /*background: #78C3F3;*/
    /*border-radius: 10px;*/
}

main div div.friends_stats {
    /*margin-left:5% ;*/
    /*margin-top: 3%;*/
    width: 100%;
    /*border: 2px solid black;*/
    background: #78C3F3;
    border-radius: 10px;
}

main div div div.friends_stats_top {

}

main div div div img.friends_image_header {
    margin-left: 5%;
    margin-top: 3%;
    width: 70px;
    height: 70px;
    border-radius: 39px;
    float: left;
}

main div div div div div.friends_name {
    float: left;
    margin-top: 30px;
    margin-left: 3%;
}

.friends_text {
    resize: none;
    margin-left: 18%;
    /*height: 75px;*/
    width: 500px;
}

main div div div div span.friends_title {
    float: right;
    margin-right: 7%;
}

main div div div div.friends_action {
    margin-top: 5%;
    margin-left: 6%;
    padding-bottom: 3%;
}

.friends_comment, .friends_good, .friends_collection {
    color: #3d403d;
    cursor: pointer;
    width: 180px;
    padding: 5px 0;
    border: 0;
    background: white;
    font-weight: 800;
}

.friends_collection {
    /*color: #3d403d;*/
    /*cursor: pointer;*/
    /*width: 180px;*/
    /*padding: 5px 0;*/
    /*border: 0;*/
    /*border-right: 1px solid black;*/
    /*border-left: 1px solid black;*/
    /*background: white;*/
}

.friends_comment {

    /*border-right: 1px solid black;*/
    /*border-left: 1px solid black;*/
    /*background: white;*/
}

.friends_good {
    /*color: #3d403d;*/
    /*cursor: pointer;*/
    /*width: 180px;*/
    /*padding: 5px 0;*/
    /*border: 0;*/
    /*border-right: 1px solid black;*/
    /*border-left: 1px solid black;*/
    /*background: white;*/
}

.friends_comment:hover, .friends_collection:hover, .friends_good:hover {
    /*text-shadow: 1px 1px 1px black;*/
    color: #78C3F3;
}

.not_more, .find_more {
    margin: 2% auto 2%;
    background: #78C3F3;
    border-radius: 10px;
    text-align: center;
}

.find_more {
    cursor: pointer;
}

aside {
    /*position: absolute;*/
    margin-right: 5%;
    margin-top: 3em;
    /*z-index: 2008;*/
    /*margin-left: 3em;*/
    float: right;
    width: 280px;
    right: 30px;
    /*border: .2em solid black;*/
}

.my_header, .my_friends, .my_action {
    /*margin: 5% auto 2%;*/
    padding: 25px;
    background: #78C3F3;
    border-radius: 10px;
}

.my_header_center {
    text-align: center;
}

.my_image_header {
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

.my_username {
    text-align: center;
    padding-top: 10px;
}

.my_action {
    margin-top: 1.5em;
}

.my_action_favorite, .my_action_good, .my_action_home {
    padding: .3em;
    width: 100%;
    /*margin: .3em;*/
    cursor: pointer;
}

.my_action_now {
    background: #b0d5f3;
    /*width: 280px;*/
    /*margin: 0px;*/
}

.my_friends {
    margin-top: 1.5em;
}

.my_friends_list {
    text-align: center;
}

aside div ul li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.add_friends {
    height: 1.5em;
}
.all_search{
    margin-top: 1.5em;
    background: #78C3F3;
    border-radius: 10px;
    padding: 25px;
}
.search{
    margin: 10px 0 25px 25px;
    width: 180px;
}
.search_movie,.search_publish,.search_user{
    margin-left: 20px;
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    background: url("../../image/1.jpg");
    cursor: pointer;
    border: none;
}